/RiderTemplate/CQRS Solution/Api/bin/
/RiderTemplate/CQRS Solution/Api/obj/
/RiderTemplate/CQRS Solution/Application/bin/
/RiderTemplate/CQRS Solution/Application/obj/
/RiderTemplate/CQRS Solution/Domain/bin/
/RiderTemplate/CQRS Solution/Domain/obj/
/RiderTemplate/CQRS Solution/Infrastructure/bin/
/RiderTemplate/CQRS Solution/Infrastructure/obj/
/src/CQRS Solution/Api/bin/
/src/CQRS Solution/Api/obj/
/src/CQRS Solution/Application/bin/
/src/CQRS Solution/Application/obj/
/src/CQRS Solution/Domain/bin/
/src/CQRS Solution/Domain/obj/
/src/CQRS Solution/Infrastructure/bin/
/src/CQRS Solution/Infrastructure/obj/